/* RGB */
$main: rgba(64, 128, 128, 1);
$dark-blue: rgba(2, 43, 58, 1);
$accent: rgba(191, 219, 247, 1);
$white: rgba(225, 229, 242, 1);
$main_dark: rgba(54, 109, 109, 1);

$break-small: 320px;
$break-ipad: 768px;
$break-pro: 1024px;
$break-desktop: 1200px;